.technologyBox {
    padding: .25rem 1rem;
    border-radius: 2rem;
    border: 2px solid var(--grey);
    background: var(--offWhite);
    color: var(--darkBlue);
    box-shadow: 2px 3px 5px rgba(76, 105, 111, 0.3);
    transition: all 200ms ease-in-out;
}

.technologyHeader {
    display: flex; 
    align-items: center;
    margin: .25rem 0rem;
}

h3 {
    font-size: 18px;
    margin: 0;
}

.technologyBox:hover {
    cursor: pointer;
    box-shadow: 0px 2px 7px rgb(95, 74, 168, 0.2);
    transform: scale(1.05);
    background: white;
}
